<%= form_for @question do |form| %>
    <% if @question.errors.any? %>
        <div class="alert alert-danger">
          <h2>Please fix <%= pluralize(@question.errors.count, 'error') %>:</h2>
          <ul>
            <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= form.label :body %><br>
      <%= form.text_field :body %>
    </p>

    <p>
      <%= form.label :author %><br>
      <%= form.text_field :author %>
    </p>

    <p>
      <%= form.submit %>
      <%= link_to 'Back', questions_path %>
    </p>
<% end %>
