<!DOCTYPE html>
<html>
<head>
  <title>Segfault</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Segfault</h1>
<hr />

<div class="notice"><%= flash[:notice] %></div>
<div class="alert"><%= flash[:alert] %></div>

<%= yield %>

</body>
</html>
